.header {
  max-width: 68.75%;
  max-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 650px) {
  .header {
    margin: 28px auto 42px;
    max-width: 100%;
    max-height: 56px;
  }
}

