.element__image {
  width: 100%;
  min-height: 282px;
  height: 282px; /*что-то надо сделать с высотой */
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}

.element__image:hover {
  cursor: pointer;
}
