.popup__content {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  margin: 90px auto 68px;
  position: relative;
}

@media screen and (max-width: 650px) {
  .popup__content {
    max-width: 240px;
    max-height: 300px;
  }
}
